@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: white;
  background: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #f239d9;
}

a:visited {
  color: #7d91cd;
}